body{
  background-color: lightgray;
}
.profile-image {
    height: 15rem;
    width: 15rem;
}

.pdf-window {
    height: 42rem;
    width: 30rem;
}
   /* NAV BAR */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #1F497D;
    overflow: hidden;
    border: 4px solid  #202020;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    
    text-decoration: none;
    font-size: 17px;
    vertical-align: middle;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:#585757;
    color: black;
  }

#navbar {
	position: relative;
	left: 0;
	top: 0;
	padding: 10px 5px;

	width: 100%;
	height: auto;
	background-color: rgb(31,73,125);
	border-bottom: 2.5px solid black;
}

/* using this to try to vertically center links */
#navwrapper {
	position: relative;
	height: 100%;
	width: 95%;
  padding: 1% 1%;
}

.navelement {
	position: relative;
	display: inline-block;

	color: white;
}

#header {
	width: 100%;
	margin-top: 50px; /*accounts for navbar's space */
	margin-bottom: 40px;
}

/* main heading text */
#header h1, #header h2 {
	text-align: center;
}
#header h1 {
	font-size: 26px;
	color: rgb(255,0,0);
}
#header h2 {
	font-size: 18px;
}
div.leftSide {
  position: absolute;
  left: 20px;
}